<!-- core/templates/core/view_submissions.html -->
{% extends "core/base.html" %}

{% block content %}
<h2>Submissions for: {{ assignment.title }}</h2>
<ul>
    {% for submission in submissions %}
        <li>
            Student: {{ submission.student.username }} - Submitted at: {{ submission.submitted_at }}
            <a href="{{ submission.submission_file.url }}" download>Download Submission</a>
        </li>
    {% empty %}
        <li>No submissions yet.</li>
    {% endfor %}
</ul>
{% endblock %}
